<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN"	"http://hibernate.sourceforge.net/hibernate-configuration-2.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- 设置打印SQL语句 -->
		<property name="show_sql">true</property>
		
		<!-- 设置格式化后的SQL语句 -->
		<property name="format_sql">true</property>

		<!-- 设置开启二级缓存 <property name="hibernate.cache.use_second_level_cache">true</property>-->
		

		<!-- 设置二级缓存插件EHCache的Provider类<property name="hibernate.cache.region.factory_class">org.hibernate.cache.EhCacheRegionFactory</property> -->
		

		<!-- 启动"查询缓存"<property name="hibernate.cache.use_query_cache">true</property> -->
		

		<!-- 配置JDBC Driver -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>

		<!-- 配置数据库连接URL -->
		<property name="connection.url">jdbc:mysql://localhost:3306/qingke1027?useSSL=false</property>

		<!-- 配置数据库用户名 -->
		<property name="connection.username">root</property>

		<!-- 配置数据库密码 -->
		<property name="connection.password">123456</property>

		<!-- 配置Hibernate使用的数据库方言 -->
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>

		<!-- class = "com.hibernate.bean.Student" class = "com.hibernate.bean.Apartment" 
			resource="student.hbm.xml" <mapping class = "com.hibernate.bean.Student" 
			/> <mapping class = "com.hibernate.bean.Apartment" /> <mapping class = "com.hibernate.bean.AcademyYear" 
			/> <mapping class = "com.hibernate.bean.Accommodation" /> <mapping class 
			= "com.hibernate.bean.Student" /> <mapping class = "com.hibernate.bean.StudentLogin" 
			/> <mapping class = "com.hibernate.bean.StudentStatus" /> <mapping resource="StudentStatus.hbm.xml" 
			/> <mapping resource="studentLogin.hbm.xml" /> -->

		<mapping class="com.hibernate.bean.Student" />
		<mapping class="com.hibernate.bean.StudentLogin" />
		<mapping class="com.hibernate.bean.StudentStatus" />
		<mapping class="com.hibernate.bean.AcademyYear" />
		<mapping class="com.hibernate.bean.Accommodation" />
		<mapping class="com.hibernate.bean.Apartment" />
		<mapping class="com.hibernate.bean.College" />
		<mapping class="com.hibernate.bean.Course" />
		<mapping class="com.hibernate.bean.CourseTemplate" />
		<mapping class="com.hibernate.bean.CourseTemplateType" />
		<mapping class="com.hibernate.bean.CourseImpl" />
		<mapping class="com.hibernate.bean.Enrollment" />
		<mapping class="com.hibernate.bean.Evaluation" />
		<mapping class="com.hibernate.bean.Lecturer" />
		<mapping class="com.hibernate.bean.Major" />
		<mapping class="com.hibernate.bean.Registeration" />
	</session-factory>
</hibernate-configuration>